.App {
    background-color:navy;
    background: linear-gradient(
        0deg,
    rgb(37, 11, 89),
    rgb(4, 0, 11));   
    background: linear-gradient(
        0deg,
    rgb(13, 1, 39),
    rgb(24, 16, 40));   
    color : white;
    height:500vh;
    width: 100%;
    /* overflow: hidden; */
}
@media screen and (max-width:830px){
    .App{
   
    height:890vh;
  
}
}